
body {
  width: 100%;
  height:100%;
  min-height:100%;
  margin: 0 auto;
	background-color: #6bd6f1;
	color: #333;
    font-family:  'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
}
.wrapper {
  width: 100%;
   height:100%;
  margin: 0 auto;
}
.contain-50 {
  width: 50%;
  margin: 0 auto;
}
.contain-90 {
  width: 90%;
  margin: 0 auto;
}


.game-top-wrapper {
  flex-direction: column;
}
.h1-wrap {

}


.dark-blue-back {
  background-color: #13042b;
  border-bottom: 2px solid #13042b;
}
.light-blue-back {
  background-color: #6bd6f1;
}

h1 {
    color: #f24b4b;
    margin: 0;
    font-size: 122px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
}


.rules-container {
  flex-direction: column;
}
.accordion-wrap {
  min-height: 50px;
  align-items: baseline;
}
.game-rules {
  font-size: 21px;
  /*line-height: 39px;*/
  display: inherit;
  color: #000;
  margin: 0;
  padding-left: 25px;
}
.game-rules strong {
    padding-right: 2%;
    font-weight: 700;
}
.accordion-icon {
  background-color: #13042b;
  padding: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
}
.accordion-icon:hover {
  cursor: pointer;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s, width 0.3s ease 0s, opacity 0.3s ease 0s;
  vertical-align: baseline;
  white-space: nowrap;
}




.fa-minus-hexagon {
  color: #f24b4b;
}
.fa-plus-hexagon {
  color: #5fcf80;
}
.accordion-icon:hover {
  opacity: 0.9;
}
.fa-minus-hexagon:hover, .fa-plus-hexagon:hover {
  opacity: 0.8;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s, width 0.3s ease 0s, opacity 0.3s ease 0s;
}


.live-text-area-wrap {
    margin-top: 7%;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ------- FIX ----- */

.live-text-area {        
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    font-size: 290px;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;
    z-index: 5;
    font-weight: 700;
    color: #000;
}


/* ------
  Zig Zags
 ------ */
.zig-zag-sep {
    min-height: 90px;
    padding: 32px 0;
    background-color: #f24b4b;
  }
.zig-zag-bottom, .zig-zag-top {
      background-color: #6bd6f1;
    padding: 32px 0;
  }
.zig-zag-bottom {
  padding-top: 0;
}
.zig-zag-bottom:after{
    background: 
    linear-gradient(-45deg, transparent 16px, #6bd6f1 0), 
    linear-gradient(45deg, transparent 16px, #1ba1e2  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 32px;
    position: relative;
    top:64px;
    left:0px;
}
.zig-zag-top:before{
    background: 
    linear-gradient(-45deg, #6bd6f1 16px, red 16px, blue 16px,  transparent 0), 
    linear-gradient(45deg, #1ba1e2 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;
    height: 32px;
    width: 100%;
    position: relative;
    bottom: 64px;
    left:0;
}






 h2, h3, h4 {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


h2 {
  font-size: 72px;
  line-height: 88px;
}
h3 {
  font-size: 40px;
  line-height: 52px;
}
h4 {
  font-size: 33px;
  line-height: 33px;
}




/* ------
  Flex Box
------ */

.flex {
  display: flex;
}

.primary-game-container {
    justify-content: center;
    background-color: #f24b4b;
}

#list li {
    display: flex;
    font-size: 42px;
    color: #6bd6f1;
}

#list .gavel {
  color: #13042b;
}

#list li > span {
    padding: 12px;
    animation: fa-spin 5s infinite linear;
}
#list li > span:hover {
    color: #FFFE55;
    cursor: pointer;
    border: solid 2px #FFFE55;
}







section.player-info-block {
	color: #000;
  font-weight: 300;
}

/* Buttons */
.primary-button {
	color: #ffffff;
    border-radius: 4px;
  font-size: 22px;
	font-weight: 500;
	padding: 20px 20px;
	cursor: pointer;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s, width 0.3s ease 0s, opacity 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}

button.start-game {
/*	color: #5fcf80;
	background-color: transparent;
  border: 2px solid #5fcf80;*/
  color: #f24b4b;
  background-color: transparent;
  border: 2px solid #f24b4b;
}
button.start-game:hover {
    color: #34ad58;
    border-color: #34ad58;
}
button.add-gem {
	background-color: #5fcf80;
    border: 2px solid #5fcf80;
}
button.add-gem:hover {
    background-color: #3ac162;
    border-color: #3ac162;
}
button.remove-gem {
    background-color: #c25975;
    border: 2px solid #c25975;
}
button.remove-gem:hover {
	background-color: #bb4665;
    border-color: #bb4665;
}
button.end-turn {
	color: #c25975;
	background-color: transparent;
  border: 2px solid #c25975;
  opacity: 0.7;
}
button.end-turn:hover {
  color: #aa3e5b;
  border-color: #aa3e5b;
  opacity: 1;
}
.primary-button:disabled, .primary-button:disabled:hover {
  background-color: transparent;
  color: #7b8b8e;
  opacity: 0.5;
  border: 2px solid #e8ebed;
  cursor: default;
}

/* Classes To Resuse */
.center-me {
	text-align: center;
}




/*
.player-identity-human, .turn-tracker-human {
    background: yellow;
    font-size: 22px;
}
*/


/* ------
 Leaderboard   
------ */
.ranking-leaderboard {
  width: 50%;
  margin: 0 auto;
}
.light-blue-back-leader {
    background-color: #6bd6f1;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    border: 1px solid #eee;
}

.leader-board-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.leader-list-container {
  display: flex;
  justify-content: space-between;
}

.leader-board-wrapper h3 {
    color: #f24b4b;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.leader-board-wrapper li {
    color: #000;
    line-height: 1.8;
    padding-bottom: 7px;
    padding-top: 20px;
}
.score {

}
.lead-number {
    font-weight: 700;
    padding-right: 10px;
}


/* ------
  Game Timer
------ */

.game-timmer-wrapper {
    position: fixed;
    z-index: 5;
    left: 90%;
    text-align: center;
    top: 0;
    right: 0;
    width: 90px;
    bottom: 0;
    height: 100px;
    background-color: #5fcf80;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.digit {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #5fcf80;
    color: #13042b;
    font-size: 65px;
    line-height: 1.2;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.spell-seconds {
    font-weight: 300;
    font-size: 12px;
    color: #333;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    opacity: 0.7;
}



/* ------
  Footer
------ */
footer {
  background-color: #6bd6f1;
  padding: 10px;
}


/* ------===================
  Exploading Mouse Click
------ */



/*.emoji--fire {
    position: absolute;
}*/



@-webkit-keyframes sprite {
    from {
        background-position: 0px;
    }

    to {
        background-position: -600px;
    }
}

@keyframes sprite {
    from {
        background-position: 0px;
    }

    to {
        background-position: -600px;
    }
}
.explosion_boom {
    width: 39px;
    height: 75px;
    background-image: url(../images/boom.gif);
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-animation: sprite .8s steps(15) 1;
    animation: sprite .8s steps(15) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: absolute;
    bottom: 0;
    left: -6px;
}
.explosion {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../images/burn.gif);
    background-size: contain;
    z-index: 2;
}



/*------------------Change Mouse Cursor------------======================*/

#change-cursor-container {
/*    cursor: pointer;*/
    height: 100%;
}
#change-cursor-container:hover + .emoji-cursor {
  display: block;
}
.emoji-cursor {
pointer-events: none;
position: absolute; 
display: none;
}
.emoji-cursor {
    font-size: 3.2rem;
    line-height: 1em;
    pointer-events: none;
    -webkit-user-select: none
}


.emoji--bomb {
    display: none;
    top: 0;
    left: 0;
    margin-left: -15px;
    margin-top: -22px;
    z-index: 1111
}

.emoji--bomb span {
    transition: -webkit-transform 0.07s ease;
    transition: transform 0.07s ease;
    transition: transform 0.07s ease, -webkit-transform 0.07s ease;
    display: inline-block
}
.emoji--bomb:after {
    content: '';
    position: absolute;
    left: 1px;
    bottom: -10px;
    background: black;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    width: 70%;
    height: 8px;
    border-radius: 100px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    transition: opacity 0.07s ease, -webkit-transform 0.07s ease;
    transition: transform 0.07s ease, opacity 0.07s ease;
    transition: transform 0.07s ease, opacity 0.07s ease, -webkit-transform 0.07s ease;
    opacity: 0.25;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center
}

.emoji--bomb.touched span {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px)
}

.emoji--bomb.touched:after {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.187;
}
/*-----------------------------------======================*/

.circle-wrapper {
     display: none; 
    position: fixed;
    left: 0%;
    top: 26%;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}
.circle {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    border-radius: 50%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.cirlce-title {
    font-size: 30px;
    color: #fff;
    line-height: 88px;
    font-family: 'Montserrat', sans-serif;
}
#ai-just-removed-recap, #human-current-turn-place {
    font-weight: 700;
    font-size: 60px;
}
/* --------- 
  Loader Animation 
 ---------- */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Center the loader */
#loader {
     display: none; 
    position: fixed;
    left: 0%;
    top: 25%;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 350px;
    height: 350px;
    border: 16px solid #54B9C6;
    border-radius: 50%;
    border-top: 16px solid #FFFE55;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* --- --- END --- --- */

/* --------- Alert JS Animations */
  .jconfirm .jconfirm-box.jconfirm-animation-news {
    transform: rotate(400deg) scale(0);
}





/* --- ---  --- --- */
/* --- --- END --- --- */
/* --- ---  --- --- */



 /*and (max-width: 979px)*/

@media (min-width: 1000px)  and (max-width: 1380px) {

.contain-50 {
  width: 60%;

}

h1 {
  font-size: 78px;
  text-align: center;
}
h3 {
  font-size: 29px;
  line-height: 29px;
}
h4 {
  font-size: 25px;
  line-height: 37px;
}
.score {
  font-size: 22px;
}
.accordion-icon {
  font-size: 21px;
}
.game-rules {
  font-size: 19px
}
.primary-button {
    font-size: 19px;
    padding: 18px 18px;
}
.zig-zag-sep {
    min-height: 40px;
}
.zig-zag-bottom:after {
  top: 54px;
}
.zig-zag-top:before {
  bottom: 54px;
}
.digit {
  font-size: 55px;
}
#list li {
    font-size: 36px;
}

 } /* End Media Query - min 1200px

